<div style="padding:5px">
  <ul class="nav nav-tabs">
      <li routerLinkActive="active">
          <a routerLink="appointmentList">Appointment List</a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="assitantPanel">Assitant Panel</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="doctorPanel">Doctor Panel</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="adminPanel">Admin Panel</a>
  </li>
  </ul>
  <br/>
  <router-outlet></router-outlet>
</div>
